<!DOCTYPE html>
        <html>
                <head>
                        <title>{{ page.title }}</title>
                        <!-- link to main stylesheet -->
                        <link rel="stylesheet" type="text/css" href="/css/main.css">
                </head>
                <body>
                        <nav>
                        <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/blog">Blog</a></li>
                                <li><a href="/readinglist">Reading</a></li>
                                <li><a href="/personaedramatis">Personae Dramatis</a></li>
                                <li><a href="/terminology">terminology</a></li>
                                <li><a href="/about">About</a></li>


                        </ul>
                        </nav>
                        <div class="container">

                        {{ content }}

                        </div><!-- /.container -->
                        <footer>
                        <ul>
                                <li><a href="mailto:sbbtt@fastmail.com">email</a></li>
                                <li><a href="https://github.com/existential-engineer">github.com/existential-engineer</a></li>
                                </ul>
                        </footer>
                </body>
        </html>
